@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
  background-color: gray;
  color: darkblue;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgb(10, 210, 250);
}